<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.runda.mapper.DataQueryCountryMapper">

    <resultMap type="DataQueryCountry" id="DataQueryCountryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="aqi"    column="aqi"    />
        <result property="pm"    column="pm"    />
        <result property="pm10"    column="pm10"    />
        <result property="so2Thickness"    column="so2_thickness"    />
        <result property="no2Thickness"    column="no2_thickness"    />
        <result property="coThickness"    column="co_thickness"    />
        <result property="co3Thickness"    column="co3_thickness"    />
        <result property="time"    column="time"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="stationId"    column="station_id"    />
        <result property="deviceId"    column="device_id"    />
    </resultMap>

    <sql id="selectDataQueryCountryVo">
        select id, name, aqi, pm, pm10, so2_thickness, no2_thickness, co_thickness, co3_thickness, time, longitude, latitude, station_id, device_id from data_query_country
    </sql>

    <select id="selectDataQueryCountryList" parameterType="DataQueryCountry" resultMap="DataQueryCountryResult">
        <include refid="selectDataQueryCountryVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="aqi != null "> and aqi = #{aqi}</if>
            <if test="pm != null "> and pm = #{pm}</if>
            <if test="pm10 != null "> and pm10 = #{pm10}</if>
            <if test="so2Thickness != null "> and so2_thickness = #{so2Thickness}</if>
            <if test="no2Thickness != null "> and no2_thickness = #{no2Thickness}</if>
            <if test="coThickness != null "> and co_thickness = #{coThickness}</if>
            <if test="co3Thickness != null "> and co3_thickness = #{co3Thickness}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="stationId != null "> and station_id = #{stationId}</if>
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
        </where>
    </select>

    <select id="selectDataQueryCountryById" parameterType="Long" resultMap="DataQueryCountryResult">
        <include refid="selectDataQueryCountryVo"/>
        where id = #{id}
    </select>
    <select id="selectDataQueryCountryByName" resultType="com.ruoyi.runda.domain.DataQueryCountry">
        select pm,pm10,time from data_query_country where name = #{name}
    </select>

    <insert id="insertDataQueryCountry" parameterType="DataQueryCountry" useGeneratedKeys="true" keyProperty="id">
        insert into data_query_country
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="aqi != null">aqi,</if>
            <if test="pm != null">pm,</if>
            <if test="pm10 != null">pm10,</if>
            <if test="so2Thickness != null">so2_thickness,</if>
            <if test="no2Thickness != null">no2_thickness,</if>
            <if test="coThickness != null">co_thickness,</if>
            <if test="co3Thickness != null">co3_thickness,</if>
            <if test="time != null">time,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="stationId != null">station_id,</if>
            <if test="deviceId != null">device_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="aqi != null">#{aqi},</if>
            <if test="pm != null">#{pm},</if>
            <if test="pm10 != null">#{pm10},</if>
            <if test="so2Thickness != null">#{so2Thickness},</if>
            <if test="no2Thickness != null">#{no2Thickness},</if>
            <if test="coThickness != null">#{coThickness},</if>
            <if test="co3Thickness != null">#{co3Thickness},</if>
            <if test="time != null">#{time},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="stationId != null">#{stationId},</if>
            <if test="deviceId != null">#{deviceId},</if>
        </trim>
    </insert>

    <update id="updateDataQueryCountry" parameterType="DataQueryCountry">
        update data_query_country
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="aqi != null">aqi = #{aqi},</if>
            <if test="pm != null">pm = #{pm},</if>
            <if test="pm10 != null">pm10 = #{pm10},</if>
            <if test="so2Thickness != null">so2_thickness = #{so2Thickness},</if>
            <if test="no2Thickness != null">no2_thickness = #{no2Thickness},</if>
            <if test="coThickness != null">co_thickness = #{coThickness},</if>
            <if test="co3Thickness != null">co3_thickness = #{co3Thickness},</if>
            <if test="time != null">time = #{time},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="stationId != null">station_id = #{stationId},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataQueryCountryById" parameterType="Long">
        delete from data_query_country where id = #{id}
    </delete>

    <delete id="deleteDataQueryCountryByIds" parameterType="String">
        delete from data_query_country where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>