<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.runda.mapper.DataQuery212Mapper">
    
    <resultMap type="DataQuery212" id="DataQuery212Result">
        <result property="id"    column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="date"    column="date"    />
        <result property="aqi"    column="aqi"    />
        <result property="temperature"    column="temperature"    />
        <result property="windSpeed"    column="wind_speed"    />
        <result property="windDirection"    column="wind_direction"    />
        <result property="humidity"    column="humidity"    />
        <result property="pressure"    column="pressure"    />
        <result property="noise"    column="noise"    />
        <result property="pm"    column="pm"    />
        <result property="pm10"    column="pm10"    />
        <result property="so2Thickness"    column="so2_thickness"    />
        <result property="no2Thickness"    column="no2_thickness"    />
        <result property="coThickness"    column="co_thickness"    />
        <result property="co3Thickness"    column="co3_thickness"    />
        <result property="voscThickness"    column="vosc_thickness"    />
        <result property="pm03Above"    column="pm0_3_above"    />
        <result property="pm05Above"    column="pm0_5_above"    />
        <result property="pm1"    column="pm1"    />
        <result property="pm25"    column="pm_25"    />
        <result property="pm10"    column="pm_10"    />
        <result property="pm1Above"    column="pm1_above"    />
        <result property="pm25Above"    column="pm25_above"    />
        <result property="pm5Above"    column="pm5_above"    />
        <result property="pm10Above"    column="pm10_above"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="tsp"    column="tsp"    />
        <result property="primaryPollutant"    column="primaryPollutant"    />
        <result property="stationId"    column="station_id"    />
        <result property="sn"    column="sn"    />
    </resultMap>

    <sql id="selectDataQuery212Vo">
        select id, device_id,  date, aqi, temperature, wind_speed, wind_direction, humidity, pressure, noise, pm, pm10, so2_thickness, no2_thickness, co_thickness, co3_thickness, vosc_thickness, pm0_3_above, pm0_5_above, pm1, pm_25, pm_10, pm1_above, pm25_above, pm5_above, pm10_above, begin_time, end_time, longitude, latitude, tsp, primaryPollutant, station_id, sn from data_query212
    </sql>

    <select id="selectDataQuery212List" parameterType="DataQuery212" resultMap="DataQuery212Result">
        <include refid="selectDataQuery212Vo"/>
        <where>  
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="beginTime != null "> and begin_time = #{beginTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectDataQuery212ById" parameterType="Long" resultMap="DataQuery212Result">
        <include refid="selectDataQuery212Vo"/>
        where id = #{id}
    </select>

    <insert id="insertDataQuery212" parameterType="DataQuery212" useGeneratedKeys="true" keyProperty="id">
        insert into data_query212
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="date != null">date,</if>
            <if test="aqi != null">aqi,</if>
            <if test="temperature != null">temperature,</if>
            <if test="windSpeed != null">wind_speed,</if>
            <if test="windDirection != null and windDirection != ''">wind_direction,</if>
            <if test="humidity != null">humidity,</if>
            <if test="pressure != null">pressure,</if>
            <if test="noise != null">noise,</if>
            <if test="pm != null">pm,</if>
            <if test="pm10 != null">pm10,</if>
            <if test="so2Thickness != null">so2_thickness,</if>
            <if test="no2Thickness != null">no2_thickness,</if>
            <if test="coThickness != null">co_thickness,</if>
            <if test="co3Thickness != null">co3_thickness,</if>
            <if test="voscThickness != null">vosc_thickness,</if>
            <if test="pm03Above != null">pm0_3_above,</if>
            <if test="pm05Above != null">pm0_5_above,</if>
            <if test="pm1 != null">pm1,</if>
            <if test="pm25 != null">pm_25,</if>
            <if test="pm10 != null">pm_10,</if>
            <if test="pm1Above != null">pm1_above,</if>
            <if test="pm25Above != null">pm25_above,</if>
            <if test="pm5Above != null">pm5_above,</if>
            <if test="pm10Above != null">pm10_above,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="tsp != null">tsp,</if>
            <if test="primaryPollutant != null">primaryPollutant,</if>
            <if test="stationId != null">station_id,</if>
            <if test="sn != null">sn,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="date != null">#{date},</if>
            <if test="aqi != null">#{aqi},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="windSpeed != null">#{windSpeed},</if>
            <if test="windDirection != null and windDirection != ''">#{windDirection},</if>
            <if test="humidity != null">#{humidity},</if>
            <if test="pressure != null">#{pressure},</if>
            <if test="noise != null">#{noise},</if>
            <if test="pm != null">#{pm},</if>
            <if test="pm10 != null">#{pm10},</if>
            <if test="so2Thickness != null">#{so2Thickness},</if>
            <if test="no2Thickness != null">#{no2Thickness},</if>
            <if test="coThickness != null">#{coThickness},</if>
            <if test="co3Thickness != null">#{co3Thickness},</if>
            <if test="voscThickness != null">#{voscThickness},</if>
            <if test="pm03Above != null">#{pm03Above},</if>
            <if test="pm05Above != null">#{pm05Above},</if>
            <if test="pm1 != null">#{pm1},</if>
            <if test="pm25 != null">#{pm25},</if>
            <if test="pm10 != null">#{pm10},</if>
            <if test="pm1Above != null">#{pm1Above},</if>
            <if test="pm25Above != null">#{pm25Above},</if>
            <if test="pm5Above != null">#{pm5Above},</if>
            <if test="pm10Above != null">#{pm10Above},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="tsp != null">#{tsp},</if>
            <if test="primaryPollutant != null">#{primaryPollutant},</if>
            <if test="stationId != null">#{stationId},</if>
            <if test="sn != null">#{sn},</if>
         </trim>
    </insert>

    <update id="updateDataQuery212" parameterType="DataQuery212">
        update data_query212
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="date != null">date = #{date},</if>
            <if test="aqi != null">aqi = #{aqi},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="windSpeed != null">wind_speed = #{windSpeed},</if>
            <if test="windDirection != null and windDirection != ''">wind_direction = #{windDirection},</if>
            <if test="humidity != null">humidity = #{humidity},</if>
            <if test="pressure != null">pressure = #{pressure},</if>
            <if test="noise != null">noise = #{noise},</if>
            <if test="pm != null">pm = #{pm},</if>
            <if test="so2Thickness != null">so2_thickness = #{so2Thickness},</if>
            <if test="no2Thickness != null">no2_thickness = #{no2Thickness},</if>
            <if test="coThickness != null">co_thickness = #{coThickness},</if>
            <if test="co3Thickness != null">co3_thickness = #{co3Thickness},</if>
            <if test="voscThickness != null">vosc_thickness = #{voscThickness},</if>
            <if test="pm03Above != null">pm0_3_above = #{pm03Above},</if>
            <if test="pm05Above != null">pm0_5_above = #{pm05Above},</if>
            <if test="pm1 != null">pm1 = #{pm1},</if>
            <if test="pm25 != null">pm_25 = #{pm25},</if>
            <if test="pm10 != null">pm_10 = #{pm10},</if>
            <if test="pm1Above != null">pm1_above = #{pm1Above},</if>
            <if test="pm25Above != null">pm25_above = #{pm25Above},</if>
            <if test="pm5Above != null">pm5_above = #{pm5Above},</if>
            <if test="pm10Above != null">pm10_above = #{pm10Above},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="tsp != null">tsp = #{tsp},</if>
            <if test="primaryPollutant != null">primaryPollutant = #{primaryPollutant},</if>
            <if test="stationId != null">station_id = #{stationId},</if>
            <if test="sn != null">sn = #{sn},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataQuery212ById" parameterType="Long">
        delete from data_query212 where id = #{id}
    </delete>

    <delete id="deleteDataQuery212ByIds" parameterType="String">
        delete from data_query212 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>